:root {
  --headheight: 5rem;
}
* {
  box-sizing: border-box;
}
body {
  border: 0;
  padding: 0;
  /* start font code */
  font-family: 'Dekko', cursive;
  font-weight: 400;
  font-style: normal;
  /* end font code */
  background-image: url(images/crabnebula.jpg);
  background-size: cover;
  background-position: center;
  color: #b4a5a5;
}
/* header styling starts here */
header {
  border: 0.25rem solid #151515d8;
  border-bottom-left-radius: 0.75rem;
  border-bottom-right-radius: 0.75rem;
  border-top: none;
  display: flex;
  justify-content: space-between;
  height: var(--headheight);
  width: 100%;
  background-color: #301b3fd8;
  position: fixed;
  top: 0;
  z-index: 1;
}
header > h1 {
  font-size: 4rem;
  margin-top: 0.5rem;
}
.logo {
  padding: 0.4rem;
  background-color: #3c415c;
  scale: 110%;
  border-radius: 50%;
  border: 1px solid #151515;
  text-decoration: none;
  margin-right: 9vw;
}
.logo > a:link {
  text-decoration: none;
  color: #b4a5a5;
}
.logo > a:visited {
  color: #b4a5a5;
}
nav {
  display: flex;
  justify-content: center;
  align-items: center;
}
nav > a {
  font-size: 1.5rem;
  margin-right: 0.75rem;
}
button {
  font-family: 'Dekko';
  color: #3c415c;
  font-size: 1rem;
  font-weight: 600;
  background-color: #b4a5a5;
  border-radius: 0.75rem;
  border: 0.0625rem solid #151515;
  width: 6rem;
  height: fit-content;
  cursor: pointer;
}
button a:link {
  text-decoration: none;
  color: #301b3f;
}
button a:visited {
  color: #301b3f;
}
/* header styling ends here */
main {
  margin-top: var(--headheight);
  width: 80%;
  margin-left: 10vw;
  margin-right: 10vw;
}
main > div > h1 {
  position: relative;
  font-size: 4rem;
  border: 0.25rem solid #15151553;
  border-radius: 0.75rem;
  padding: 0.5rem;
  background-color: #301b3fd8;
  max-width: fit-content;
}
header > div > h2 {
  border-radius: 0.75rem;
  background-color: #301b3fd8;
  padding: 0.75rem;
  min-width: fit-content;
  max-height: 7rem;
  text-align: center;
  font-size: xx-large;
  margin: 0.75rem;
  grid-column: 1 / span 2;
  align-self: center;
  font-weight: bold;
}
.card {
  display: flex;
  border: 0.025rem solid #301b3f;
  border-radius: 0.75rem;
  padding: 1rem;
  background-color: #3c415cad;
  z-index: 0;
  place-items: center;
  font-size: 8rem;
  container-name: card;
  overflow: auto;
}
.card > h1 {
  display: flex;
  text-align: center;
  margin: 1rem;
}
.formbox {
  background-color: #301b3fd8;
  border-radius: 0.75rem;
  margin: 1rem;
  padding: 0.2em;
}
form {
  font-size: 2.2rem;
}
input {
  border-radius: 0.75rem;
  height: 5vh;
}
textarea {
  height: 10vh;
  width: 100%;
  border-radius: 0.75rem;
}
footer {
  background-color: #301b3fd8;
  height: 1rem;
  width: 100%;
  position: fixed;
  bottom: 0px;
  border: 0.25rem solid #151515d8;
  border-bottom: none;
  border-top-left-radius: 0.75rem;
  border-top-right-radius: 0.75rem;
}
@media (width <= 650px) {
  .card {
    flex-direction: column;
  }

}
